<section id="contact" style="margin-top: 40px; padding: 30px 0px">
    <div class="container">
        <div class="row">
            <div class="about_our_company" style="margin-bottom: 20px;">
                <h1 style="color:#fff;">Write Your Message</h1>
                <div class="titleline-icon"></div>
                <p style="color:#fff;">Please type your query and send us back </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.query.name" placeholder="Your Name *" id="name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="vm.query.email" placeholder="Your Email *" id="email" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" ng-model="vm.query.phone" placeholder="Your Phone *" id="phone" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="vm.query.text" placeholder="Your Message *" id="message" required>

                                </textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" ng-if="!vm.sending" ng-click="vm.sendMail()" class="btn btn-xl get"><i class="fa fa-send-o" style="color: orange;"></i> &nbsp;&nbsp;Send Message</button>
                            <button type="submit" ng-if="vm.sending" class="btn btn-xl get"> <i class="fa fa-spinner fa-spin" style="color: green;"></i> &nbsp;&nbsp; Sending mail ...</button>
                            <span style="color: white" ng-if="vm.sucess"><i class="fa fa-mail-forward" style="color: white"></i> Mail sent </span>
                            <span style="color: white" ng-if="vm.error"><i class="fa fa-" style="color: darkred"></i>Error while sending mail </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <p style="color:#fff;">
                    <strong><i class="fa fa-map-marker"></i> Address</strong><br>
                    division of Student affairs (lovely Professional university Jalandhar Punjab)
                </p>
                <p style="color:#fff;"><strong><i class="fa fa-phone"></i> Phone Number</strong><br>
                    (+91)9170006233</p>
                <p style="color:#fff;">
                    <strong><i class="fa fa-envelope"></i>  Email Address</strong><br>
                    madhyam.mediumtolearn@gmail.com</p>
                <p></p>
            </div>
        </div>
    </div>
</section>
