<div class="view-banner"
     preload-bg-image="{{vm.event.banner}}"
     default-image="img/shattered.png"></div>
<div class="view-title">
    <div class="container">
        {{vm.event.name}} ({{vm.event.date | date:'YYYY'}})
        <ul class="pull-right">
            <li><span class="icon icon-heart3"></span> {{vm.event.vote}}</li>
            <li><span class="icon icon-tags"></span> <span data-ng-repeat="tag in vm.event.tags">{{tag}}{{$last ? '' : ', '}}</span> </li>
            <li><span class="icon icon-info2"></span> {{vm.event.status}}</li>
        </ul>
    </div>
</div>
<div class="view-container">
    <h2>Show Summary</h2>
    <div class="view-section view-top" data-ng-switch="vm.event.overview != null">
        <div class="poster"><img preload-image
                                 default-image="img/loading.jpg"
                                 fallback-image="img/fallback-thin.jpg"
                                 ng-src="{{vm.event.main_img}}" /></div>
        <p data-ng-switch-when="true">{{vm.event.overview}}</p>
        <p data-ng-switch-when="false" class="no-overview">No overview is available for this event</p>
        <div class="clearfix"></div>
    </div>
    <h2>Gallery</h2>
    <div class="view-section">
        <ul class="view-list">
            <li data-ng-repeat="pic in vm.event.pictures">
                <img preload-image default-image="img/loading.jpg"
                     fallback-image="img/fallback-thin.jpg"
                     data-ng-src="{{pic.url}}" />
                <div class="item-info">
                    <div class="col-md-2">{{pic.name}}</div>
                    <div class="col-md-10">{{pic.heart}}</div>
                </div>
            </li>
        </ul>
        <p class="no-data" data-ng-if="false">No gallery information available</p>
    </div>
    <!-- Information available through additional API calls -->
    <h2>Participant</h2>
    <div class="view-section cast-container">
        <ul class="view-list">
            <li data-ng-repeat="member in vm.event.members">
                <img preload-image default-image="img/loading.jpg"
                     fallback-image="img/fallback-thin.jpg"
                     data-ng-src="{{member.url}}" />
                <div class="item-info">
                    {{member.name}} as <br />
                    <strong>{{member.position}}</strong>
                </div>
            </li>
        </ul>
        <p class="no-data" data-ng-if="false">No members information available</p>
    </div>
</div>
